<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Usuarios</h2>
		<p>Los usuarios que actualmente figuran en el sistema son los
			siguientes:</p>

		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableUsers"
				id="tableUsers">
				<thead>
					<tr>
						<th>Email</th>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<form method="post" action="/user/delete" th:object="${userForm}">
					<tbody>
						<tr th:each="user : ${usersList}">
							<td th:text="${user.email}">71888888X</td>
							<td th:text="${user.name}">Nombre del alumno</td>
							<td th:text="${user.lastName}">Apellidos del alumno</td>
							<td><input type="checkbox" th:name="idChecked"
								th:value="${user.id}"></td>
						</tr>
					</tbody>
			</table>
			<button type="submit">Eliminar</button>
			</form>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>